In [38]:
import pandas as pd
from sklearn.metrics import make_scorer
from sklearn.model_selection import train_test_split

In [39]:
training_df = pd.read_csv('train.csv', index_col= 0)
training_df.head(10)

,date,country,store,product,num_sold
id,,,,,
0,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,63
1,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs,66
2,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People,9
3,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,59
4,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better,49
5,2017-01-01,Argentina,Kaggle Store,Using LLMs to Improve Your Coding,88
6,2017-01-01,Argentina,Kaggle Store,Using LLMs to Train More LLMs,98
7,2017-01-01,Argentina,Kaggle Store,Using LLMs to Win Friends and Influence People,14
8,2017-01-01,Argentina,Kaggle Store,Using LLMs to Win More Kaggle Competitions,83
9,2017-01-01,Argentina,Kaggle Store,Using LLMs to Write Better,69

In [40]:
training_df['product'].unique()

array(['Using LLMs to Improve Your Coding',
       'Using LLMs to Train More LLMs',
       'Using LLMs to Win Friends and Influence People',
       'Using LLMs to Win More Kaggle Competitions',
       'Using LLMs to Write Better'], dtype=object)

In [41]:
training_df['store'].unique()

array(['Kaggle Learn', 'Kaggle Store', 'Kagglazon'], dtype=object)

In [42]:
product_mapping = {}
i = 0
for product in training_df['product'].unique():
    product_mapping[product] = i
    i = i + 1

In [43]:
product_mapping

{'Using LLMs to Improve Your Coding': 0,
 'Using LLMs to Train More LLMs': 1,
 'Using LLMs to Win Friends and Influence People': 2,
 'Using LLMs to Win More Kaggle Competitions': 3,
 'Using LLMs to Write Better': 4}

In [44]:
training_df['product'] = training_df['product'].map(product_mapping)

In [45]:
training_df.head(10)

          date    country         store  product  num_sold
id
0   2017-01-01  Argentina  Kaggle Learn        0        63
1   2017-01-01  Argentina  Kaggle Learn        1        66
2   2017-01-01  Argentina  Kaggle Learn        2         9
3   2017-01-01  Argentina  Kaggle Learn        3        59
4   2017-01-01  Argentina  Kaggle Learn        4        49
5   2017-01-01  Argentina  Kaggle Store        0        88
6   2017-01-01  Argentina  Kaggle Store        1        98
7   2017-01-01  Argentina  Kaggle Store        2        14
8   2017-01-01  Argentina  Kaggle Store        3        83
9   2017-01-01  Argentina  Kaggle Store        4        69

In [46]:
store_mapping = {}
i = 0
for store in training_df['store'].unique():
    store_mapping[store] = i
    i = i + 1

training_df['store'] = training_df['store'].map(store_mapping)
training_df.head(10)

          date    country  store  product  num_sold
id
0   2017-01-01  Argentina      0        0        63
1   2017-01-01  Argentina      0        1        66
2   2017-01-01  Argentina      0        2         9
3   2017-01-01  Argentina      0        3        59
4   2017-01-01  Argentina      0        4        49
5   2017-01-01  Argentina      1        0        88
6   2017-01-01  Argentina      1        1        98
7   2017-01-01  Argentina      1        2        14
8   2017-01-01  Argentina      1        3        83
9   2017-01-01  Argentina      1        4        69

In [47]:
country_mapping = {}
i = 0
for country in training_df['country'].unique():
    country_mapping[country] = i
    i = i + 1

training_df['country'] = training_df['country'].map(country_mapping)
training_df.head(10)

          date  country  store  product  num_sold
id
0   2017-01-01        0      0        0        63
1   2017-01-01        0      0        1        66
2   2017-01-01        0      0        2         9
3   2017-01-01        0      0        3        59
4   2017-01-01        0      0        4        49
5   2017-01-01        0      1        0        88
6   2017-01-01        0      1        1        98
7   2017-01-01        0      1        2        14
8   2017-01-01        0      1        3        83
9   2017-01-01        0      1        4        69

In [51]:
training_df.shape

(136950, 5)

In [48]:
features = ['country', 'store', 'product']

In [49]:
X = training_df[features]

In [50]:
y = training_df['num_sold']

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state= 3)

In [53]:
print(X_train.shape)
print(X_test.shape)
print(len(y_train))
print(len(y_test))

(95865, 3)
(41085, 3)
95865
41085